.top-navbar {
  background: #333333;
  color: #cccccc;
  max-height: 80px;
  font-size: 1.1em;
}
.top-navbar ul {
  list-style-type: none;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.top-navbar li {
  display: inline;
  padding-left: 20px;
  padding-top: 20px;
}
.top-navbar .App-logo {
  height: 35px;
  color: white;
}
.active {
  color: white;
}
